@import "../styles/variables";

.ticket-form-wrapper {
  position: relative;
  width: 720px;
  font-size: 15px;
  margin: 0;
  overflow: auto;
  color: #333;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);

  h3{
      margin: 48px 32px 40px;
      font-size: 20px;
  }
  .urs-tab-switcher-wrapper {
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 40px;

    .urs-tab-item {
      flex: 1;
      text-align: center;

      .tab-title {
        margin-bottom: 15px;
      }
      svg {
        width: 40px;
        height: 40px;
      }

      &.current{

        .tab-icon svg {

          g, path{
            //stroke: #00aec5;
          }

          g:not(#Artboard-2)>path {
            fill: #00aec5;
          }
        }
      }
    }
  }

  .developer-flag {
    .checkbox {
      margin-left: 0;
      margin-top: 12px;
    }
  }

  .ticket-fake-select {
    margin-bottom: 16px;
    background-color: rgba(221, 221, 221, 0.5);
    color: #999;
    box-shadow: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 7px 29px 7px 7px;
    cursor: default;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    outline: none;
    width: 100%;
    font-size: 14px;
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    height: 32px;

    &:after {
      content: "";
      position: absolute;
      display: block;
      right: 10px;
      width: 0;
      height: 0;
      top: 13px;
      border-color: #999 transparent transparent;
      border-style: solid;
      border-width: 5px 5px 0;
    }
  }
  ticket-form-schools{
    display: block;
  }
  .ticket-field-wrap{
    padding-right: 24px;
    .urs-input-label{
      position: relative;
      width: 160px;
      display: inline-block;
      margin-top: 4px;
      > span{
        position: absolute;
        font-size: 12px;
        color: #999;
        top: 16px;
        left: 0px;
      }
    }
    urs-input{
      position: relative;
      width: 320px;
      display: inline-block;
      vertical-align: top;

      .help-block{
       // position: absolute;
       //  /* border: 1px solid red; */
       //  min-width: 160px;
       //  width: auto;
       //  max-width: 240px;
       //  background: #fff;
       //  /* box-shadow: 2px 2px 8px #000; */
       //  padding: 8px 16px 8px 16px;
       //  top: -25%;
       //  left: 90%;
       //  font-size: 13px;
       //  color: #333;
       //  line-height: 17px;
       //  border: 1px solid #ddd;
       //  border-radius: 3px;
       //  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.1);

      }
    }
    urs-select{
      width: 320px;
      display: inline-block;
      vertical-align: top;
    }
    input.phone-input{
      width: 200px;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 16px;
    }
  }

  // .wi-240{
  //   width: 240px;
  // }

  .wi-368{
    width: 368px;
  }

  .wi-318{
    width: 318px;
  }

  .wi-148{
    width: 148px;
  }

  .urs-input-wrapper{
    .input-box-wrapper:before{
      display: none;
    }
  }

  .requirement-description{
    font-size: 12px;
    color: #999999;
    margin-bottom: 8px;
    margin-left: 29px;
  }

  .close-icon {
    position: absolute;
    background: url("images/icons/i-close.svg") 0 0 no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    right: 15px;
    top: 22px;
    cursor: pointer;
  }

  .form-message{
     margin: 0px 0 32px;
     font-size: 16px;
    b{
      //color: #008c9e;
    }
  }

  // Сообщение о необходимости авторизации
  .warning-text {
    width: 511px;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 28px;

    a {
      color: #008c9e;
      &:hover {
        text-decoration: none;
      }
    }
  }

  ticket-form-category{
    display: block;
    input{
      background: none;
    }
  }

  .form-content-wrapper {
    padding: 0 32px;

    .disabled-green-btn:hover {
      background: #66bb6a;
    }

    .auth-ticket-form-wrapper-bottom {
      background: none;
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 32px;
    }
  }

  .urs-input-wrapper{
    margin-bottom: 16px !important;
  }
}
.ticket-form-wrapper__bottom{
    background: #f5f5f5;
    margin-left: -32px;
    margin-right: -32px;
    padding: 32px 32px 32px 32px;
    margin-top: 32px;
    padding-bottom: 56px;
}



