<div class="ticket-form-wrapper">
    <ajax-loader promise="$ctrl.promise"></ajax-loader>
    <div>
        <i class="close-icon" ng-click="$ctrl.close();"></i>
        <h3>Обращение в службу поддержки</h3>
    </div>

    <div ng-if="$ctrl.withTabs" style="padding: 16px 32px 8px 32px;">
        <urs-tab-switcher selected="$ctrl.selectedTab"
                          tab-list="$ctrl.tabs"
                          on-tab-select="$ctrl.onSelectTab(tab)"></urs-tab-switcher>
    </div>

    <div layout="column" layout-align="start stretch" ng-show="!$ctrl.withTabs || $ctrl.selectedTab">

        <form name="ticketForm" class="form-content-wrapper form" ng-if="$ctrl.ticket" novalidate>
            <!--<p ng-if="$ctrl.isAuthorized() && $ctrl.selectedTab.name === 'ticket'" class="form-message">-->
                <!--Здравствуйте, <b ng-bind="$ctrl.user.first_name"></b>. Чем мы можем вам помочь?-->
            <!--</p>-->

            <!--<div class="warning-text cancel-select" ng-if="!$ctrl.isAuthorized()">-->
            <!--Пожалуйста, <a href="" ng-click="$ctrl.openLoginForm($event)">авторизуйтесь</a><br>-->
            <!--Авторизация позволит отслеживать статус ваших сообщений.-->
            <!--</div>-->

            <div class="bootstrap-iso wi-318" ng-if="!$ctrl.withTabs || $ctrl.selectedTab.name !== 'thanks'">
                <ticket-form-system
                        systems="$ctrl.externalSystems"
                        ticket="$ctrl.ticket"
                        on-change="$ctrl.onChangeExternalSystem(externalSystem)">
                </ticket-form-system>
            </div>

            <div class="bootstrap-iso wi-318" ng-if="!$ctrl.withTabs || $ctrl.selectedTab.name === 'ticket'">
                <div ng-if="!$root.isAuth()" class="ticket-fake-select cancel-select">{{$ctrl.getFakeCategoryTitle() ||
                    'Доступ'}}
                </div>
                <ticket-form-category
                        ng-if="$root.isAuth()"
                        is-disabled="!$ctrl.ticket.externalSystemId"
                        categories="$ctrl.availableCategories"
                        ticket="$ctrl.ticket"
                        on-change="$ctrl.onChangeCategory(category)"
                ></ticket-form-category>
            </div>

            <div class="ticket-field-wrap developer-flag" ng-if="$ctrl.ticket.externalSystemId === 2">
                <input-checkbox
                        item-value="true"
                        item-title="Я разработчик контента"
                        is-disabled="false"
                        is-selected="$ctrl.isDeveloper"
                        on-toggle="$ctrl.toggleDeveloperFlag()"
                ></input-checkbox>
            </div>

            <!--<div class="bootstrap-iso" ng-if="!$ctrl.isAuthorized()">-->
            <!--<ticket-form-login ticket="$ctrl.ticket"></ticket-form-login>-->
            <!--</div>-->

            <div class="bootstrap-iso" class="col-sm-12">
                <ticket-form-message ticket="$ctrl.ticket"
                                     placeholder="$ctrl.selectedTab.name === 'ticket'
									 				?'Опишите возникшую ситуацию максимально подробно, при необходимости приложите скриншот'
									 				:'Напишите сообщение'"
                                     files-to-upload="$ctrl.filesToUpload"></ticket-form-message>
            </div>

            <div class="bootstrap-iso ticket-field-wrap" ng-if="!$ctrl.isAuthorized()">
                <span class="urs-input-label required">Имя</span>
                <urs-input
                        ng-model="$ctrl.ticket.firstName"
                        ng-required="true"
                        val-messages="{error: 'Введите имя'}"
                ></urs-input>
            </div>

            <div class="bootstrap-iso ticket-field-wrap" ng-if="!$ctrl.isAuthorized()">
                <span class="urs-input-label required">Фамилия</span>
                <urs-input
                        ng-model="$ctrl.ticket.lastName"
                        ng-required="true"
                        val-messages="{error: 'Введите фамилию'}"
                ></urs-input>
            </div>

            <div class="bootstrap-iso ticket-field-wrap" ng-if="!$ctrl.isAuthorized()">
                <span class="urs-input-label">Отчество<span>при наличии</span></span>
                <urs-input ng-model="$ctrl.ticket.middleName"></urs-input>
            </div>

            <div class="bootstrap-iso ticket-field-wrap organization-field" ng-if="!$ctrl.isAuthorized()">
                <ticket-form-schools
                        ng-if="!$ctrl.isDeveloper"
                        on-change="$ctrl.onChangeSchool(organizationId)"
                ></ticket-form-schools>

                <div ng-if="$ctrl.isDeveloper">
                    <span class="urs-input-label required">Наименование организации</span>
                    <urs-input ng-model="$ctrl.ticket.organizationName"
                               ng-required="true"
                               val-messages="{error: 'Введите наименование организации'}"></urs-input>
                </div>
            </div>

            <div class="bootstrap-iso ticket-field-wrap" ng-if="!$ctrl.isAuthorized()">
                <span class="urs-input-label required">Эл. почта</span>
                <urs-input
                        options="{validationType: 'email'}"
                        ng-required="true"
                        val-messages="{error: 'Без эл. почты мы не сможем отправить вам ответ'}"
                        ng-model="$ctrl.ticket.email"
                ></urs-input>
            </div>

            <div class="bootstrap-iso ticket-field-wrap" ng-if="!$ctrl.isAuthorized()">
                <phone-input
                        show-title="true"
                        phone="$ctrl.ticket.phone"
                        placeholder="+7(___) ___-__-__"
                        phone-mask="+9(999) 999-99-99"
                        on-change="$ctrl.onChangePhone(phone)"></phone-input>
            </div>

            <div class="bootstrap-iso" ng-if="!$ctrl.isAuthorized()">
                <ticket-form-captcha on-change="$ctrl.onChangeCaptcha(captcha)"></ticket-form-captcha>
            </div>

            <div class="bootstrap-iso ticket-form-wrapper__bottom"
                 ng-class="{'auth-ticket-form-wrapper-bottom': $ctrl.isAuthorized()}">

                <div class="bootstrap-iso" ng-if="!$ctrl.isAuthorized()">
                    <ticket-form-data-processing-agreement
                            on-change="$ctrl.onChangeAgreement(agreementData)">
                    </ticket-form-data-processing-agreement>
                </div>

                <div class="requirement-description" style="padding: 0">
                    <span ng-if="!$ctrl.isAuthorized()">* поля со звездочкой обязательны для заполнения</span>
                </div>

                <button class="button green-button"
                        ng-disabled="ticketForm.$invalid"
                        ng-class="{'disabled-green-btn': ticketForm.$invalid}"
                        ng-style="{
						    'margin-top': $ctrl.isAuthorized()?0:'', 'margin-left': $ctrl.isAuthorized()?0:''
					    }"
                        ng-click="$ctrl.createTicket(ticketForm)">Отправить
                </button>
            </div>
        </form>
    </div>
</div>

<ticket-form-agreement-form mode="$ctrl.mode"
                            ng-if="$ctrl.mode ==='agreement'">
</ticket-form-agreement-form>