@import "../../../styles/variables";

.ticket-form-message-wrapper {
  /*
   *   Поле для ввода текста обращения
   */
  width: 616px;
  margin-bottom: 50px;
  .question-wrapper {
    position: relative;

    .question {
      background-color: #fff;
      box-shadow: inset 0 3px 9px 0 rgba(0, 0, 0, 0.05);
      border-width: 1px !important;
      resize: none !important;
    }

    .question-hint {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 90%;
      opacity: 0.7;
      font-size: 15px;
      line-height: 22px;
      color: #999999;
      z-index: 999;

      .select-file-button{
        .upload-btn {
          color: $journalAccentColor;
          cursor: pointer;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

  }

  /*
   *   Блок прикрепления файла
   */
  .attachment {
    color: #999;
    font-size: 13px;
    display: flex;
    align-items: center;

    select-file-button{
      display: flex;
      cursor: pointer;
      .select-file-button{
        margin: 0;
        urs-svg {
          height: 23px;
        }
        &:hover{
          urs-svg svg path{
            stroke: #008c9e;
          }
          .upload-file-label{
            color: #008c9e;
          }
        }

        .upload-file-wrapper{
          display: flex;
          align-items: center;
        }

        .upload-file-label{
          margin-left: 5px;
          font-size: 15px;
          color: #333333;
        }
      }
    }

    .file-uploader-placeholder{
      margin-left: 10px;
      color: #666666;
    }
  }

  /*
   *  Превью прикрепленных изображений
   */
  .img-preview {
    position: relative;
    margin: 8px 24px 16px 8px;
    max-width: 240px;

    >div{
      display: flex;
    }

    .image-wrapper{
        position: relative;
        border: 1px solid #efefef;
        height: 90px;
        width: 120px;
        text-align: center;

      img{
         max-width: 100%;
         border: none;
         max-height: 100%;
      }
      .close-icon-white {
        position: absolute;
        background: url("images/icons/i-del_sm.svg") 0 0 no-repeat;
        background-color: #fff;
        background-size: cover;
        width: 20px;
        height: 20px;
        top: 2px;
        right: 2px;
      }
    }

    span {
      display: block;
      max-width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      letter-spacing: 0.5px;
      color: #333333;
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }
  }

  .file-info{
    margin-left: 5px;
    >span:nth-child(2){
      color: #999999;
    }
  }

  .files-to-upload-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}