<div class="ticket-form-message-wrapper">
    <droppable max-items="5" drop-items="$ctrl.filesToUpload">
        <div layout="row">
            <div flex class="question-wrapper">
                <span class="question-hint cancel-select"
                      ng-if="$ctrl.questionHintVisible"
                      ng-click="$ctrl.onFocusQuestion()">
                            {{$ctrl.placeholder}}
            <!--                <select-file-button file-items="$ctrl.filesToUpload" max-items="5"
                                                change-items="$ctrl.changeAttachments(items)">
                                <span class="upload-btn">скриншот</span>
                            </select-file-button>-->
                </span>
                <urs-textarea
                        ng-model="$ctrl.ticket.description"
                        name="description"
                        aria-label="ticket-description-field"
                        ng-required="true"
                        on-focus="$ctrl.onFocusQuestion()"
                        on-blur="$ctrl.onBlurQuestion()"
                        class="question"
                        val-messages="{error: 'Заполните поле'}"
                        rows="5">
                </urs-textarea>
            </div>
        </div>
    </droppable>

    <section class="files-to-upload-list">
        <div ng-repeat="data in $ctrl.filesToUpload track by $index" class="img-preview">
            <div>
                <div class="image-wrapper">
                    <img ng-src="{{data.dataUrl}}"  ng-if="$ctrl.imagePreview.isImage(data)"/>
                    <img ng-src="{{data.dataUrl}}"  ng-if="!$ctrl.imagePreview.isImage(data)" class="file-icon"/>
                    <i ng-click="$ctrl.removePreview($index)" class="close-icon-white"></i>
                </div>
                <div class="file-info">
                    <span ng-bind="data.name"></span>
                    <span ng-bind="data.size | filesizeToString"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="attachment cancel-select">
        <select-file-button file-items="$ctrl.filesToUpload" max-items="5">
            <div class="upload-file-wrapper">
                <urs-svg base-64-data="$ctrl.icons.attachmentIcon"></urs-svg>
                <span class="upload-file-label">Прикрепить файл</span>
            </div>
        </select-file-button>
        <span class="file-uploader-placeholder">не более 5 файлов до 30 МБ</span>
    </section>
</div>