.ticket-successeful-dialog-wrapper {
  margin-top: 20vh;
  position: relative;
  max-height: 90vh;
  width: 720px;
  font-size: 15px;
  margin: 0;
  overflow: auto;
  color: #333;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);

  .close-icon {
    position: absolute;
    background: url("images/icons/i-close.svg") 0 0 no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    right: 15px;
    top: 22px;
    cursor: pointer;
  }

  .ticket-successeful-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 391px;
    svg {
      width: 83.5px;
      height: 83px;
      path {
        stroke: #68be1b;
      }
    }
    h2 {
      font-size: 24px;
    }
    p {
      //width: 316px;
      text-align: center;
    }
    button {
      margin-top: 30px;
    }
  }
}