<div class="ticket-successeful-dialog-wrapper">
    <ajax-loader promise="$ctrl.promise"></ajax-loader>
    <div class="ticket-successeful-dialog-content">
        <i class="close-icon" ng-click="$ctrl.close();"></i>
        <urs-svg base-64-data="$ctrl.icons.checkIcon"></urs-svg>
        <h2>Ваше обращение отправлено</h2>
        <p>{{$ctrl.resolve.userName}}, спасибо за помощь в развитии проекта!</p>
        <button class="button green-button" ng-click="$ctrl.close()">Продолжить</button>
    </div>
</div>