@import "src/styles/variables.scss";




.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 16px;
  font-size: 15px;
  height: 32px;
  color: $defaultTextColor;
  border: 1px solid $defaultBorderButtonColor;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  min-width: 72px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;

  &.button_inline{
    margin-right: 8px;
    display: inline-block;
  }

  &:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);  
    background-color: #fafafa;
  }


  i {
    display: block;
    padding: 0;
    margin-right: 8px;
    position: relative;
  }

  &:hover{
    background: $defaultLightBackgroundHover;
  }

  .icons{
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    background: none !important;
    margin-top: -1px;
  }

  &.circle-button{
    min-width: 28px;
    border-radius: 50%;
    width: 32px;
    padding: 0 !important;
    .button-icon{
      margin: 0 !important;
    }
  }

  .button-icon {
    margin-right: 4px;
    width: 18px;
    height: 18px;
    background-size: cover;
  }

  .middle-align {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
  }

  &.main {
    background-color: #ff5e3f;
    border-color: #ff5e3f;
    color: #fff;
  }

  &.button_no-bg{
    background: none; 
    box-shadow: none;
    border: none;
    &:hover{
      background: rgba(0, 0, 0, 0.03);
    }
  }

  &.accent{
    background-color: $journalAccentColor;
    border-color: $journalAccentColor;
    color: #fff;
    &:active {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      background-color: $journalAccentColor;
    }
  }

  &.green-button {
    border-color: #66bb6a;
    background-color: #66bb6a;
    color: #fff;

    &:active {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      background-color: #66bb6a;
    }

    &:hover {
      background-color: #5fad63;
    }
  }

  &.blue-button {
    border-color: #4a90e2;
    background-color: #4a90e2;
    color: #fff;

    &:active {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      background-color: #4a90e2;
    }
  }

  &.accent-reverse{
    background-color: #fff;
    border-color: $journalAccentColor;
    color: $journalAccentColor;
    box-shadow: none;
    &:hover{
      border-color: $journalAccentColorHover;
      color: $journalAccentColorHover;

    }
  }

  &.no-margin {
    margin: 0;
  }

  &:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background: #fafafa;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-noBg{
  background: none;
  &:hover{
    background: none;
  }
}
.btn-noShadow{
  box-shadow: none;
  &:hover{
   box-shadow: none;
  }
}


// btn-stroke
.btn-stroke{
    height: 32px;
    cursor: pointer;  
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 16px 0px 16px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.4);
      color:#fff;
      background: none;
   }
}








.btn-group {
  .btn-default {
    border: solid 1px #bbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    color: $defaultTextColor;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 15px;
    height: 32px;
    line-height: 31px;

    &:active {
      border-color: #25a5ff;
      background-color: #fff;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.sm {
  .button, &.button,
  .btn-default {
    font-size: 14px;
    height: 28px;
    line-height: 26px;
  }

  .button.circle-button {
    width: 28px;
  }
}

.md {
  .button, &.button,
  .btn-default {
    font-size: 15px;
    height: 40px;
  }

  .button.circle-button {
      width: 40px;
  }
}

.lg {
  .button, &.button,
  .btn-default {
    font-size: 15px;
    height: 40px;
    padding: 0 24px;
  }

  .button, &.button {
    min-width: 96px;

    &.circle-button{
      min-width: 40px;
      width: 40px;
    }
    .button-icon {
      margin-right: 4px;
      width: 24px;
      height: 24px;
    }
  }
}




.buttons_inline{
  .button {
    margin-right: 8px;
    display: inline-block;
    &:last-of-type{
       margin-right: 0px;
    }
  }
  .buttons-group{
    margin-right: 24px;
  }
}



.button_icon{
  min-width: 56px;
  i{
    margin: 0px;
  }
}






.settings-icon{
  width: 24px;
  height: 24px;
  background: url("images/icons/i-setting_thin.svg") 0 0 no-repeat;
  background-size: contain;
}

.edit-icon {
  width: 24px;
  height: 24px;
  background: url("images/icons/i-edit_thin.svg") 0 0 no-repeat;
  background-size: contain;
}

.copy-icon{
  width: 24px;
  height: 24px;
  background: url("images/icons/i-copy-thin.svg") 0 0 no-repeat;
  background-size: contain;
}

.download-icon {
  width: 18px;
  height: 18px;
  background: url("images/icons/i-download.svg") 0 0 no-repeat;
  background-size: contain;
}