/* TODO ОСТАВИТЬ ДО ВЫПИЛИВАНИЯ .bootstrap-iso, НУЖНО ДЛЯ ИСПОЛЬЗОВАНИЯ tooltip-append-body="true" без .bootstrap-iso */

@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/reset-text";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/opacity";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";

@import "bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

/* ########################################################## */

$tooltipBackColor: #475258;
$tooltipBorderRadius: 2px;
$headerColor: #faecb9;

.tooltip{
  max-width: 200px;
  &.in{
    opacity: 1;
  }
  &.left{
    &.left-top{
      margin-top: 5px !important;
      .tooltip-arrow{
      /* top: 0 !important;*/  margin-top: -4px;
        border-width: 5px 5px 0 0;
        border-color: $tooltipBackColor transparent transparent transparent;
      }

      .tooltip-inner{
        border-radius: $tooltipBorderRadius 0 $tooltipBorderRadius $tooltipBorderRadius;
      }
    }

    &.left-bottom{
      margin-top: -5px !important;
      .tooltip-arrow{
        top: initial;
        bottom: 0 !important;
        border-width: 5px 0 0 5px;
        border-color: transparent transparent transparent $tooltipBackColor;
      }

      .tooltip-inner{
        border-radius: $tooltipBorderRadius $tooltipBorderRadius 0 $tooltipBorderRadius;
      }
    }

    .tooltip-arrow{
      border-color: transparent transparent transparent $tooltipBackColor;
    }
  }

  &.right{
    &.right-top{
      margin-top: 5px !important;
      .tooltip-arrow{
        margin-top: -4px;
        border-width: 0 5px 5px 0;
        border-color: transparent $tooltipBackColor transparent transparent;
      }

      .tooltip-inner{
        border-radius: 0 $tooltipBorderRadius $tooltipBorderRadius $tooltipBorderRadius;
      }
    }

    &.right-bottom{
      margin-top: -5px !important;
      .tooltip-arrow{
        top: initial;
        bottom: 0 !important; /*margin-bottom: -4px;*/
        border-width: 0 0 5px 5px;
        border-color: transparent transparent $tooltipBackColor transparent;
      }

      .tooltip-inner{
        border-radius: $tooltipBorderRadius $tooltipBorderRadius $tooltipBorderRadius 0;
      }
    }

    .tooltip-arrow{
      border-color: transparent $tooltipBackColor transparent transparent;
    }
  }

  &.top{
    &, &.top-right, &.top-left{
      margin-top: -5px !important;
    }
    padding: 0 !important;
    &.top-right{
      margin-left: -5px !important;
      .tooltip-arrow{
        right: 0 !important;
        left: initial !important;
        border-width: 0 5px 5px 0;
        border-color: transparent $tooltipBackColor transparent transparent;
      }
      .tooltip-inner{
        margin-top: 5px !important;
        border-radius: $tooltipBorderRadius $tooltipBorderRadius 0 $tooltipBorderRadius;
      }
    }
    &.top-left{
      margin-left: 5px !important;
      .tooltip-arrow{
        right: initial !important;
        left: 0px !important;
        border-width: 5px 5px 0 0;
        border-color: $tooltipBackColor transparent transparent transparent;
      }
      .tooltip-inner{
        border-radius: $tooltipBorderRadius $tooltipBorderRadius $tooltipBorderRadius 0;
      }
    }

    .tooltip-arrow{
      bottom: -5px !important;
      border-color: $tooltipBackColor transparent transparent transparent;
    }
  }

  &.bottom{
    margin-top: 5px !important;
    padding: 0 !important;
    &.bottom-right{
      margin-left: -5px !important;
      .tooltip-arrow{
        right: 0 !important;
        left: initial !important;
        border-width: 0 0 5px 5px;
        border-color: transparent transparent $tooltipBackColor transparent;
      }
      .tooltip-inner{
        border-radius: $tooltipBorderRadius 0 $tooltipBorderRadius $tooltipBorderRadius;
      }
    }

    &.bottom-left{
      margin-left: 5px !important;
      .tooltip-arrow{
        right: initial !important;
        left: 0px !important;
        border-width: 5px 0 0 5px;
        border-color: transparent transparent transparent $tooltipBackColor;
      }
      .tooltip-inner{
        border-radius: 0 $tooltipBorderRadius $tooltipBorderRadius $tooltipBorderRadius;
      }
    }

    .tooltip-arrow{
      top: -5px !important;
      border-color: transparent transparent $tooltipBackColor transparent;
    }
  }

  .tooltip-inner{
    background-color: $tooltipBackColor;
    border-radius: $tooltipBorderRadius;
    .tooltip-header{
      color: $headerColor;
    }
  }
}
