@import "../../../styles/variables";

.ticket-form-data-processing-agreement {
  //margin-top: 35px;
  padding: 0 !important;
  >div{
    display: flex;
    &:first-child{
      margin-bottom: 11px;
    }
  }
  .checkbox{
    margin-left: 0;
  }

  .ticket-form-agreement-text{
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    color: #333;
    margin-bottom: 16px;

    a{
      text-decoration: underline;
      cursor: pointer;
      color: #008c9e;
    }
  }
  .urs-input-wrapper, .checkbox{
    margin: 0 !important;
  }
}