<div class="ticket-form-data-processing-agreement bootstrap-iso col-sm-12">
	<div>
		<input-checkbox
				item-value="true"
				title-position="left"
				is-disabled="false"
				is-selected="$ctrl.contactAgree"
				on-toggle="$ctrl.changeFlag('contactAgree')"
				ng-required="true"
				val-messages="{error: ''}"
		></input-checkbox>
		<p class="ticket-form-agreement-text">
			Указанные мной контактные данные верны.<br>
			Я понимаю, что в случае ошибки со мной не смогут связаться.<br />
			Я принимаю <a ng-click="$ctrl.showAgreementForm()">соглашение</a> на обработку персональных данных.</p>
	</div>

	<!--<div>-->
		<!--<input-checkbox-->
				<!--item-value="true"-->
				<!--title-position="left"-->
				<!--is-disabled="false"-->
				<!--is-selected="$ctrl.isAgree"-->
				<!--on-toggle="$ctrl.changeFlag('isAgree')"-->
				<!--ng-required="true"-->
				<!--val-messages="{error: ''}"-->
		<!--&gt;</input-checkbox>-->
		<!--<p class="ticket-form-agreement-text"</p>-->
	<!--</div>-->
</div>