@import "src/styles/variables.scss";

*, html, body {
    font-family: Roboto;
    font-style: normal;
    font-stretch: normal;
    outline: none;
}
html, body{
    height: 100%;
}
.main-wrapper {
    min-width: 1280px;
    position: relative;
    min-height: 100%;
    background-color: #5D899C;
}
.body-wrapper{
    padding-bottom: 146px;
}
.footer-wrapper{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 146px;
}


h1{
    font-weight: normal;
}

body {
    overflow: visible !important;
    background-color: #eceff1 !important;
}

body.md-dialog-is-showing,
.md-dialog-container {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.app-version {
    display: none;
}

/* icons */

i{
    width: 24px;
    height: 24px;
    display: inline-block;

    &.ic-close{
        background: url("images/icons/ic_clear_black_24px.svg") no-repeat;
        background-size: cover;
    }
}



// dropdownw base

.dropdown-menu_base{
    height: 32px;
    min-width: 160px;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #ccd6db;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    padding: 0 8px 0 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.open .dropdown-menu_base{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background: #fafafa;
    border: solid 1px #ccd6db;
}

.unselect {
    color: #999;
}

span.required-field {
    color: #585858 !important;
    padding-right: 5px !important;
    padding-left: 2px !important;
}

.md-checked{
    color: black !important;
}

.cancel-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.search-result_empty{
    padding: 40px 0px;
    line-height: 24px;
    font-size: 16px;
    color: #999;
}
button{
    background: none;
    border: none;
}

.highlighted {
    background-color: #eeeeee !important;
}

.default-button:not([disabled]):hover {
    background-color: #cc3742 !important;
}

.secondary-default-button {
    background-color: #cecfd0 !important;
    color: #fff !important;
}

.secondary-default-button:hover {
    background-color: #999 !important;
}

.alert-container {
    z-index: 5000 !important;
    margin-top: 100px;
}

.flex-spacer{
    flex: 1;
}

.cut-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.light-text{
    color: #666666;
}

.cut-text-raw {
    overflow: hidden;
    text-overflow: clip;
}

.kaarousel-without-prev-next kaarousel-prev,
.kaarousel-without-prev-next kaarousel-next {
    display: none;
}

.kaarousel {
    background: #fff;
}

.forced-stop-animation .paused-animation {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
}

input[disabled]{
    background: none;
}


/*custom scrollbar in webkit*/
::-webkit-scrollbar              { /* 1 - скроллбар */ }
::-webkit-scrollbar-button       { /* 2 - кнопка */ }
::-webkit-scrollbar-track        { /* 3 - трек */ }
::-webkit-scrollbar-track-piece  { /* 4 - видимая часть трека */ }
::-webkit-scrollbar-thumb        { /* 5 - ползунок */ }
::-webkit-scrollbar-corner       { /* 6 - уголок */ }
::-webkit-resizer                { /* 7 - изменение размеров */ }



  ::-webkit-scrollbar {
      width: 10px;
      //height: 10px;
  }
  ::-webkit-scrollbar-button {
      width: 8px;
      height: 0;
  }
  ::-webkit-scrollbar-thumb {
      background: #B3C2C4;
      border: 2px solid #F8F9F9;
      border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #A8A8A8;
  }
  ::-webkit-scrollbar-thumb:active {
      background: #A8A8A8;
  }
  ::-webkit-scrollbar-track {
      background: #F8F9F9;
      border: 0 none #fff;
      border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
      background: #F5F5F5;
  }
  ::-webkit-scrollbar-track:active {
      background: #F5F5F5;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }

.no-margin {
    margin: 0 !important;
}

body.modal-open {
    overflow: hidden !important;
}

.page-content-card-wrapper{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    padding: 8px 32px;
    height: 100%;
    min-height: 100%;
    padding-bottom: 100px;
    margin-top: 8px;
    position: relative;
}

.urs-actually-block {
    margin-top: 16px;
    padding-top: 20px;
    position: relative;

    > section {
        border: 2px solid #fbedb6;
        border-radius: 0px 3px 3px 3px;
    }

    > span {
        position: absolute;
        top: 0;
        left: 0;
        width: 67px;
        border-radius: 3px 3px 0 0;
        background: #fbedb6;
        color: #816920;
        text-align: center;
        font-size: 13px;
        height: 20px;
        line-height: 20px;
    }
}

.urs-card {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 1px 3px 3px 0 rgba(155, 181, 192, 0.2);
    border: solid 1px rgba(204, 214, 219, 0.5);
}






// actually-info block ------------------------------------
.actually-info{
  margin-top: 0px;
  padding-top: 0px;
  position: relative;

  > section {
      border: none;
      border-radius: 0px;
  }

  > span {
    position: relative;
    top: 0px;
    left: 0;
    width: auto !important;
    background: #fff;
    border: 1px solid $importantColor;
    border-radius: 4px;
    padding: 0px 8px;
    color: #ff5c40;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
  }
}














