/* ###### COMMON FORM ##### */
md-dialog, md-card{

  &.transparent {
    background: transparent !important;

    md-dialog-content > *,
    md-dialog-actions,
    md-card md-dialog-content > *,
    md-card md-dialog-actions {
        padding: 0 !important;
    }

  }

  border-radius: 0.6px !important;
  md-card-header{
    line-height: 100%;
  }

  md-toolbar{
    height: 48px !important;
    min-height: 48px !important;
    background: transparent !important;
    md-icon{margin-right: 15px !important;}
    md-icon svg{ fill: #999 }
  }
  md-dialog-content >*, md-dialog-actions{
    padding: 24px 43px 26px 54px !important;
  }

  md-dialog-content >*{
    padding-bottom: 0 !important;
  }

  md-dialog-actions{
    padding-top: 0 !important;
  }
}

/* ############### */

md-card{
  box-shadow: 0 0 7px 0 rgba(33, 33, 33, 0.07) !important;
  margin-top: 0px !important;
}

md-dialog{
  box-shadow: 0 0 4px 0 rgba(33, 33, 33, 0.1) !important;
}

//сброс минимальной ширины для md-button
.small_square{
  margin: 0 !important;
  min-width: initial !important;
  min-height: 0 !important;
  max-height: none !important;
  line-height: 100% !important;
  width: 24px !important;
  padding: 0 !important;
}

//сброс margin-left и margin-right для md-button
.no-side-margin{
  margin: 6px 0px !important;
}