
.warn_icon svg{
  fill: #DE3641 !important;
}

.grey_icon svg{
  fill: #999;
}

.light_grey_icon svg path{
  fill: #b1b1b1;
}

.green_icon svg{
  fill: #95bd52;
}

.white_icon svg {
  fill: #fff;
}

.yellow_icon svg path{
  fill: #F4C85F;
}

.blue_icon svg{
  fill: #7EBDE5;
}

.marine_icon svg{
  fill:#4898D6;
}

.icon-options {
  background: url("~images/icons/gear.svg") 0 0 no-repeat;
}

.icon-attachment-white{
  background: url("~images/icons/i-clip-white.svg") 0 0 no-repeat;
  background-size: contain !important;
}

.icon-attachment{
  background: url("~images/icons/i-clip.svg") 0 0 no-repeat;
  /*background-size: cover;*/
}

.icon-arrow-down{
  background: url("~images/icons/icon-arrow-down.svg") 0 0 no-repeat;
}

.icon-arrow-left{
  background: url("~images/icons/ic_arrow_back_grey_24px.svg") 0 0 no-repeat;
}

.icon-arrow-right{
  background: url("~images/icons/ic_arrow_forward_grey_18px.svg") 0 0 no-repeat;
}

.icon-close{
  background: url("~images/icons/ic_clear_red_24px.svg") 0 0 no-repeat;
}

.icon-edit {
  background: url("~images/icons/ic_edit_black_24px.svg") 0 0 no-repeat;
}

.icon-grid-type{
  background: url("~images/icons/ic_view_list_grey.svg") 0 0 no-repeat;
  width: 18px;
  height: 16px;
  background-size: cover;
}
.icon-grid-type:hover {
  background: url("~images/icons/ic_view_list_grey.svg") 0 0 no-repeat;
  background-size: cover;
}

.icon-grid-modules-type {
  background: url("~images/icons/i-view-tile.svg") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  opacity: .5;
}
.icon-grid-modules-type:hover {
  opacity: 1;
}

.icon-refresh{
  background: url("~images/icons/ic_refresh_black.svg") 0 0 no-repeat;
  width: 17px;
  height: 17px;
}

.icon-del{
  background: url("~images/icons/i-del-sm.svg") 0 0 no-repeat;
  background-size: cover;
}


.icon-del-white{
  background: url("~images/icons/i-del-sm-white.svg") 0 0 no-repeat;
  background-size: cover;
}

.icon-share{
  background: url("~images/icons/i-share.svg") 0 0 no-repeat;
  width: 21px;
  height: 21px;
}

.icon-calendar{
  width: 16px;
  height: 12px;
  background: url("~images/icons/i-calendar.svg") 0 0 no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0 0 0 30px;
}

.icon-arrow-r-white{
  background: url("~images/icons/i-r-white.svg") 0 0 no-repeat;
  background-size: cover;
}

.icon-arrow-l-white{
  background: url("~images/icons/i-l-white.svg") 0 0 no-repeat;
  background-size: cover;
}

.icon-description{
  background: url("~images/icons/ic_help_blue-grey.svg") 0 0 no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.icon-description:hover {
   background: url("~images/icons/ic_help_blue-green.svg") 0 0 no-repeat;
   background-size: cover;
 }

.icon-add {
  background: url("images/icons/i-add_bold.svg") 0 0 no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}


.icon-add_white{
  background: url("images/icons/i-add_bold_white.svg") 0 0 no-repeat;
}

.icon-new-window{
  background: url("images/icons/i-new-window.svg") 0 0 no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.icon-new-window_white{
  background: url("images/icons/i-new-window_white.svg") 0 0 no-repeat;
}


.icon-add_accent{
   background: url("images/icons/i-add_bold-accent.svg") 0 0 no-repeat;
   background-size: contain;
}

.icon-add-bold-white{
  background: url("images/icons/i-add_bold-white.svg") 0 0 no-repeat;
  background-size: contain;
}


.icon-add-light-blue {
  background: url("images/icons/i-add-thin-light-blue.svg") 0 0 no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.i-hint{
  background: url("images/icons/i-hint.svg") 0 0 no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.icon-arrow-down-thin{
  background: url("images/icons/i-arrow-down_thin.svg") 0 0 no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-position: center;
}

.icon-open-eye {
  background: url("images/icons/i-eyes-on-1.svg") 0 0 no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-position: center;
}
.icon-open-eye-preview {
  background: url("images/icons/i-eyes-on-preview.svg") 0 0 no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-position: center;
}

.icon-copy {
  background: url("images/icons/i-copy-thin.svg") 0 0 no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-position: center;
}

.icon-remove {
  background: url("images/icons/i-trash-thin.svg") 0 0 no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-position: center;
}
.icon-remove_red {
  background: url("images/icons/i-trash-thin_red.svg") 0 0 no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-position: center;
}

.icon-attachment-sm {
  background: url("images/icons/i-file-sm.svg") 0 0 no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-position: center;
}


/*size*/
.i_sm{
   width: 14px;
}
