/*
  NewsToolbar.html
  MyTicketSearchForm.html
*/

.search-box {
  background-color: #fff;
  //box-shadow: 0 1px 4px 0 rgba(33, 33, 33, 0.54);
  box-shadow: 0 1px 4px 0 rgba(33, 33, 33, 0.24);
  margin: 0 24px;
  //opacity: 0.4;
}

.search-box,
.search-box input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-box input {
  padding: 12px;
  line-height: 0.85;
  border: none;
}

.search-box input:focus {
  outline: none;
}

.search-box md-icon {
  margin-right: 10px;
  cursor: pointer;
}

.search-box svg {
  fill: #b1b1b1;
}