/*
  "Связаться с нами",
  "Обращение в службу поддержки"
*/

.support_feedback_form {
  position: relative;

  md-card-header {
    padding: 0 0 0 16px !important;
    font-size: 14px !important;

    > md-icon {
      margin-right: 14px !important;
    }

    button {
      min-width: initial !important;
    }
  }

  md-card-content {
    padding: 16px 52px !important;
    color: #999999;

    p {
      font-size: 15px !important;
      margin: 0 !important;
    }

    textarea {
      margin-top: 14px;
      height: 109px;
      width: 100%;
      resize: none;
      box-sizing: border-box;
      border-color: #e6e2e7;
    }

    md-select {
      font-size: 15px !important;
    }
  }

  md-card-actions {
    margin: 0 !important;
    padding: 16px 52px  24px 52px !important;
  }
}