// use   @import "src/styles/variables.scss";
// in your scss for import style's variables


//
// default params
//


$hr: 1px solid rgba(0, 0, 0, 0.1);

$formControlBoxShadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
$formControlBoxShadowFocus: inset 0 1px 2px 0 rgba(57, 103, 109, 0.1);
$labelTextColor: #333;
$defaultTextColor: #333;
$defaultBorder: 1px solid #CCD6DA;
$defaultBorderButtonColor: #CCD6DA;
$defaultBorderColor50: rgba(204, 214, 218, 0.5);
$defaultBorderButtonColorHover: #A0C9D9;
$defaultFontSize: 15px;

$defaultBackgroundActive: #FFF4D8;
$defaultBackgroundHover: rgba(0, 0, 0, 0.02);
$defaultLightBackgroundHover: #fafafa;
$defaultBorderColorHover: hsla(200, 17%, 68%, 1);


// color
$importantColor: #ff5c40;
$defaultColorLink: #2A7585;
$colorLinkBorder: rgba(42, 117, 133, 0.4);

//bg
$bgColor_main: #5D899C;
$bgColor_pic: #6D9FB5;
$bgChips: #E0F5F8; 
$bgChipsHover: #d5f2f6; 

$bodyBg: #5D899C;
$menuItemHover: #518094;
$menuItemActive: #416F82;


//
//btn-color
//
$btnPrimaryColor: #66bb6a;



//
// placeholder params
//
$placeholderColor: #bbb;


//
// active element params
//
$activeElementColor: $defaultColorLink; //#1581ff;
$activeElementBorder: 1px solid #00aec5; //#1581ff;
$activeElementBackgroundColor: #00aec5; //#1581ff;
$activeElementBorderColor: #00aec5; //#1581ff;
$activeElementColorLight: #00aec5; //#1581ff;


//
// error params
//
$errorColor: #FC685B;
$errorBoxShadow: inset 0 1px 3px 0 rgba(55, 71, 71, 0.2);
$borderError: 1px solid $errorColor;

//
// warning params
//
$warningColor: #ff6553;
$warningBoxShadow: inset 0 1px 3px 0 rgba(246, 166, 35, 0.2);
$borderWarning: 1px solid #f6a623;

//
// success params
//
$successColor: #20c46f;
$successBoxShadow: inset 0 1px 3px 0 rgba(32, 196, 111, 0.2);

//
// disabled element params
//
$disabledColor: #989898;
$disabledBackgroundColor: rgba(221, 221, 221, 0.5);
$disabledBorder: 1px solid #bbb;

//
// size params
//
$smallFontSize: 13px;
$middleFontSize: 15px;
$largeFontSize: 16px;

//icons colors

$iconGreyColor: #999;

//journal varriables

$journalAccentColor: #00aec5;
$journalAccentColorHover: hsla(187, 100%, 34%, 1);

$journalBlueTextColor: #287180;
$journalBrightBlueColor: #4e7281;
$journalLightBlueColor: #77ade4;
$journalHeadersTextColor: #333333;

$journalLightYellowColor: #FFF8DF;
$journalTextYellowColor: #E9DEAE;

$journalBronzeColor: #725400;

$lightGrey1: #535353;
$lightGrey2: #666666;
$lightGrey3: #878787;
$lightGrey4: #999999;
$lightGrey5: #D6D6D6;