.agreement-text{
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  h3{
    padding: 0 18px;
  }
  .close-icon {
    position: absolute;
    background: url("images/icons/i-close.svg") 0 0 no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    top: 22px;
    right: 20px;
    cursor: pointer;
  }
  section>div{
    padding: 20px;
    text-align: justify;
  }
}