<ajax-loader promise="$ctrl.promise"></ajax-loader>
<span class="urs-input-label required">Образовательная<br>организация</span>
<urs-select
		ng-if="$ctrl.schools.length > 0"
		enable-search="true"
		options-list="$ctrl.schools"
		options="$ctrl.selectParams"
		ng-required="true"
		val-messages="{error: 'Выберите образовательную организацию'}"
		ng-model="$ctrl.selected"
		multiple="false"
		on-change="$ctrl.onSelectSchool(model)">
</urs-select>