.ticket-form-login-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .forget-login {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 48px;

    .checkbox {
      margin-bottom: 0;
    }
  }

  .input-wrapper {
    flex: 1;
  }
}