<div class="ticket-form-login-wrapper">
	<urs-input
		ng-if="!$ctrl.isForget"
		class="input-wrapper"
		ng-model="$ctrl.ticket.login"
		placeholder="Укажите ваш логин"
    ></urs-input>

	<div class="forget-login">
		<input-checkbox
			item-value="true"
			title-position="left"
			item-title="Забыл(а) логин"
			is-disabled="false"
			is-selected="$ctrl.isForget"
			on-toggle="$ctrl.toggleForget(value)"
		></input-checkbox>
	</div>
</div>