<!DOCTYPE html>
<html ng-app="mesch.ticket-form.demo">
<head>
    <meta charset="utf-8"/>
    <title>mesch.ticket-form</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="Московская Электронная Школа"/>
    <base href="/">
</head>
<body class="bootstrap-iso">
    {{2+2}}
</body>
</html>