.ticket-form-captcha-wrapper{
    margin-bottom: 16px;

  .captcha-img{
    width: 229px;
    height: 80px;
    border: solid 1px #e6e2e7;
  }
  .captcha-label{
    color: #666;
    font-size: 15px;
    width: 160px;
    display: inline-block;
  }
  .ticket-form-captcha__right{
      position: relative;
      width: 320px;
      display: inline-block;
      vertical-align: top;
  }
  .captcha-refresh{
    color: #355C69;
    display: inline-block;
    vertical-align: middle;
    margin: 4px 0px 4px 0px;
    color: #355C69;
  }

  .captcha-refresh svg{
    width: 24px;
    height: 24px;
    fill: #999;
      display: inline-block;
    vertical-align: middle;
    span{
      margin-bottom: 4px;
    }
  }

  urs-input{
    margin-top: 4px;
    width: 200px;
  }

  .right-arrow-wrapper{
    display: flex;
    align-items: center;
    .right-arrow{
      margin: 0 10px;
      svg{
        width: 25px;
        height: 25px;
        fill: #999;
      }
    }
  }
}
