<div class="captcha ticket-form-captcha-wrapper">
    <div class="urs-input-label">
        <div class="captcha-label">
            <span class="urs-input-label required">Введите текст<br>с картинки</span>
        </div>
    </div>

    <div class="ticket-form-captcha__right">
      <!--       
      <div class="right-arrow-wrapper">
        <urs-svg class="right-arrow" base-64-data="$ctrl.icons.rightArrowIcon"></urs-svg>
      </div> 
      -->
        <div>
            <img class="captcha-img" ng-src="{{$ctrl.captcha.Image}}"/>
        </div>
        <div layout="row" layout-align="" class="captcha-refresh">
            <urs-svg flex="none"
                     base-64-data="$ctrl.icons.refreshIcon"
                     ng-click="$ctrl.loadCaptcha()"></urs-svg>
            <span flex="none" class="cancel-select" ng-click="$ctrl.loadCaptcha()">Обновить картинку</span>
        </div>
        <!-- <div class="">
            <span class="cancel-select">Поле для ввода текста с картинки</span>
        </div> -->
        <urs-input
               class=""
               ng-model="$ctrl.captcha.captchaText"
               on-change="$ctrl.onChangeCaptcha(value)"
               placeholder="Текст с картинки"
               name="captchaText"
               type="text"
               ng-required="true"
               val-messages="{error: 'Введите текст с картинки'}"
          ></urs-input>
    </div>
</div>