@import "./roboto.css";

body {
    padding: 8px;
    color: #333;
    font-size: 15px;
    line-height: 22px;
    font-family: "Roboto";
    font-weight: normal;
    min-height: 200px;
    max-height: 1000px;
    box-shadow: inset 0 1px 2px 0 rgba(57, 103, 109, 0.1);
    border: 1px solid #CCD6DA;
}